<!doctype html>
 <html lang="en">
   <head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
     <title>Hello, world!</title>
     <style>
         html,body {
  padding:0;
  margin:0;
  height:100%;
  min-height:100%;
 }

.quarter{
  width:50%;
  height:100%;
  float:left;
}
.contents{
  height:50%;
  width:100%;
}

     </style>

     
   </head>
   <body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">

      <!-- Links -->
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i style="font-size: 1.75em;" class="fa fa-cog"></i></a>
        </li>
      </ul>
    
    </nav>
     <div class="contents">
        <div style="padding-top: 25px;"></div>
        <div class="col-md-6 quarter"><center><button type="button" style="width: 200px; height: 125px;" class="btn btn-lg btn-success"><i style="font-size: 4em;" class="fas fa-tshirt"></i><br \>Large</button></center></div>
        <div class="col-md-6 quarter"><center><button type="button" style="width: 200px; height: 125px;"  class="btn btn-lg btn-secondary"><i style="font-size: 2.5em;" class="fas fa-tshirt"></i><br \>Small</button></center></div>
        <div class="col-md-6 quarter"><center><button type="button" style="width: 200px; height: 125px;"  class="btn btn-lg btn-secondary"><i style="font-size: 3.5em;" class="fas fa-tshirt"></i><br \>Medium</button></center></div>
        <div class="col-md-6 quarter"><center><button type="button" style="width: 200px; height: 125px;"  class="btn btn-lg btn-secondary"><i style="font-size: 4.5em;" class="fas fa-tshirt"></i><br \>X-Large</button></center></div>
       
        </div>
     <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     <script>
      $("button").on("click", function() {
        $('button').removeClass("btn-success");
        $('button').addClass("btn-secondary");
        $(this).addClass("btn-success");
       $.ajax({
      type: "POST",
      data: {},
      success: function() {
        console.log('success')
      },
      dataType: "json"
      });

      })
    </script>
    </body>
 </html>
