<!doctype html>
 <html lang="en">
   <head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="/static/bootstrap.min.css">
     <link rel="stylesheet" href="/static/css/all.min.css" />
     <title>T-Shirt Folder</title>
     <style>
         html,body {
  padding:0;
  margin:0;
  height:100%;
  min-height:100%;
 }

.quarter{
  width:50%;
  height:100%;
  float:left;
}
.contents{
  height:50%;
  width:100%;
}
body {
  overflow: hidden; /* Hide scrollbars */
}
.modal-open .modal {
    display: flex!important;
    align-items: center!important;
    .modal-dialog {
        flex-grow: 1;
    }
}
     </style>

     
   </head>
   <body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">

      <!-- Links -->
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i style="font-size: 1.75em;" class="fa fa-cog"></i></a>
        </li>
      </ul>
    
    </nav>
     <div class="contents">
      <div class="modal" id="foldModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <center>
                <i style="font-size: 8em;" class="fas fa-circle-notch fa-spin"></i><br \>
                <p style="font-size: 2em;" id="fold-message"></p>

              </center>

            </div>
          </div>
        </div>
      </div>
        <div style="padding-top: 25px;"></div>
        <div class="col-md-6 quarter"><center><button type="button" id="fast" style="width: 200px; height: 125px;" class="btn btn-lg btn-success"><i style="font-size: 4em;" class="fas fa-bolt"></i><br \>FAST FOLD</button></center></div>
        <div class="col-md-6 quarter"><center><button type="button" id="youth" style="width: 200px; height: 125px;"  class="btn btn-lg btn-secondary"><i style="font-size: 3em;" class="fas fa-tshirt"></i><br \>SMALL/YOUTH</button></center></div>
        <div class="col-md-6 quarter"><center><button type="button" id="long" style="width: 200px; height: 125px;"  class="btn btn-lg btn-secondary"><i style="font-size: 4em;" class="fas fa-tshirt"></i><br \>LONG SLEEVE</button></center></div>
        <div class="col-md-6 quarter"><center><button type="button" id="bulk" style="width: 200px; height: 125px;"  class="btn btn-lg btn-secondary"><i style="font-size: 4em;" class="fas fa-dolly"></i><br \>BULK 8S</button></center></div>
       
        </div>
     <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script type="text/javascript" src="/static/jquery.min.js"></script>
     <script src="/static/popper.min.js"></script>
     <script src="/static/bootstrap.min.js"></script>

     <script>
      $("button").on("click", function() {
        $('#foldModal').modal({
            show: true,
            keyboard: false,
            backdrop: 'static'
        });
        $('button').removeClass("btn-success");
        $('button').addClass("btn-secondary");
        $(this).addClass("btn-success");
       $.ajax({
          type: "POST",
          data: {
            "action": $(this).attr('id')
          },
          beforeSend: function() {
            console.log("Folding")
          },
          success: function(data) {
            console.log("Success");
            $('#foldModal').modal('hide');
            return data
          },
          error: function (data) {
            console.log("Error");
            $('#foldModal').modal('hide');
            return data;
          },
          dataType: "json"
      });

      })

      function make_payload() {
        $.ajax({
          type: "POST",
          data: {
            "action": "heartbeat"
          },
          beforeSend: function() {
            console.log("Folding")
          },
          success: function(data) {
            console.log("Success");
            if (data.folding == true) {
              $('#foldModal').modal({
                show: true,
                keyboard: false,
                backdrop: 'static'
            });
            } else {
              $('#foldModal').modal('hide');
            };
            return data
          },
          error: function (data) {
            console.log("Error");
            $('#foldModal').modal('hide');
            return data;
          },
          dataType: "json"
      });
      };

    </script>
    </body>
 </html>
